<div class="card text-center">
  <div class="card-header">
    {{blogData.user.username}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{blogData.topic}}</h5>
    <p class="card-text">{{blogData.body}}</p>
  </div>
  <div class="card-footer text-muted">
    {{blogData.createdAt}}
  </div>
</div>