<div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">{{comm.username}}</h5>
      <p class="card-text">{{comm.body}}</p>
      <h6 class="text-muted">{{comm.createdAt}}</h6>
    </div>
  </div>