<div class="col">
    <div class="col-12 m-auto d-flex justify-content-center">
        <h2>Welcome, {{user.username}}!</h2>
    </div>
    <div class="row col-12 container-fluid display-flex justify-content-center align-center p-2 new-comm">
        <div class="col-9 container-fluid justify-content-center">
                {{#each user.blogs as |blog|}}
                {{> dashBlogs blogData=blog}}
                {{/each}}
        </div>
    </div>
</div>
<script src="./js/comment.js"></script>